In [6]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [7]:
executable_path = {'executable_path' : ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
There is no [win32] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\cblac\.wdm\drivers\chromedriver\win32\96.0.4664.45]

In [8]:
###visit Nasa Mars News Site
url = 'https://redplanetscience.com/'
browser.visit(url)

In [9]:
###convert to BeautifulSoup object
html = browser.html
news_obj= soup(html, 'html.parser')
stories = news_obj.select_one('div.list_text')

In [11]:
stories.find('div', class_= 'content_title')

In [12]:
title = stories.find('div', class_='content_title').get_text()
title

"What's Mars Solar Conjunction, and Why Does It Matter?"

In [13]:
para = stories.find('div', class_='article_teaser_body').get_text()
para

'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.'

In [15]:
###visit JPL Mars Space Images
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [16]:
#find the image url for the current Featured Mars Image
image_button= browser.find_by_tag('button')[1]
image_button.click()

In [17]:
#convert HTML to BeautifulSoup object
html = browser.html
image_obj = soup(html, 'html.parser')

In [18]:
#find image url
image_url = image_obj.find('img', class_='fancybox-image').get('src')
image_url

'image/featured/mars1.jpg'

In [19]:
#assign URL string to a variable
featured_image_url = f'https://spaceimages-mars.com/{image_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [20]:
##visit Mars Facts webpage use pandas to scrape the table
Mars_df=pd.read_html('https://galaxyfacts-mars.com')[0]
Mars_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [21]:
#Rename columns remove index
Mars_df.columns=['Parameter', 'Mars', 'Earth']
Mars_df.set_index('Parameter', inplace = True)
Mars_df

                                    Mars            Earth
Parameter
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [22]:
#use pandas to convert to HTML table string
Mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'